* {
    padding: 0;
    margin: 0;
  }
  
html,
body {
    height: 100%;
    overflow: hidden;
    font-size: 16px;
  }

ol,ul,li { list-style:none;}

  button{
    border: 0;
    background-clip: padding-box;
}

img{ 
    border:none;
}



.esri-popup__main-container  .template{
list-style: none;
}

.esri-popup__main-container .template.template_img{
  width: 200px;
}
.template_img img{
  width: 100%;
}

